/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.85rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 152;
  --first-color: hsl(210, 22%, 49%);
  --first-color-alt: hsl(209, 23%, 60%);
  --shape-gradient: linear-gradient(
    90deg,
    hsl(212.14deg 21.88% 74.9%),
    hsl(210deg 20.51% 84.71%),
    hsl(213.16deg 21.59% 65.49%),
    hsl(210deg 23.08% 94.9%)
  );
  --body-gradient: linear-gradient(
    180deg,
    hsl(210, 36%, 96%),
    hsl(210, 22%, 49%)
  );
  --first-color-light: hsl(224.35deg 63.89% 85.88%);
  --first-color-lighten: hsl(209.45deg 21.91% 49.22%);
  --title-color: hsl(209, 61%, 16%);
  --text-color: hsl(211, 39%, 23%);
  --text-color-light: #bdbdbd;
  --body-color: hsl(210, 36%, 96%);
  --container-color: #fff;

  /* --doing-third: hsl(210deg 15.76% 69.52%); */
  --doing-third: hsl(210, 36%, 96%);
  --thinking-third: hsl(210, 22%, 49%);
  --feeling-third: hsla(209, 23%, 60%, 0.976);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "obviously", sans-serif;
  --wide-font: "obviously-wide", sans-serif;
  --extended-font: "obviously-extended", sans-serif;
  --ibm-plex-mono: "ibm-plex-mono", sans-serif;
  --big-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.05rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/

  --font-thin: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 800;
  --font-super: 900;

  --font-wide-regular: 400;
  --font-wide-medium: 500;
  --font-wide-semibold: 600;
  --font-wide-bold: 700;
  --font-wide-black: 800;
  --font-wide-super: 900;

  --font-extended-black: 800;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

/* Disable resizing of the window when input is focused */
input:focus {
  resize: none;
}

/* Zoom in the window slightly after input is entered */
input:valid {
  zoom: 1.05;
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /*For animation dark mode*/
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-dark: hsl(208.8deg 32.05% 30.59%);
  --title-color: hsl(210, 36%, 96%);
  --text-color: hsl(0deg 0% 93.33%);
  --body-color: hsl(209, 61%, 16%);
  --container-color: hsl(209deg 31.31% 23.05%);
  --shape-gradient: linear-gradient(
    90deg,
    hsl(211.3deg 24.73% 36.47%),
    hsl(210.77deg 29.77% 25.69%)
  );
  --body-gradient: linear-gradient(
    180deg,
    hsl(208.24deg 62.96% 15.88%),
    hsl(208.8deg 32.05% 30.59%)
  );

  --doing-third: hsl(209deg 31.31% 23.05%);
  --thinking-third: hsl(209, 23%, 43%);
  --feeling-third: hsla(210, 16%, 49%, 0.976);
}

/*========== Button Dark/Light ==========*/
.change-theme {
  color: var(--title-color);
  font-size: 1.15rem;
  cursor: pointer;
}

.nav__btns {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

/*========== 
Color changes in some parts of 
the website, in dark theme 
==========*/

.dark-theme .processors__bg,
.dark-theme .stances__bg,
.dark-theme .questions {
  background-color: var(--first-color-dark);
}

.dark-theme .product__circle,
.dark-theme .footer__subscribe {
  background-color: var(--container-color);
}

.dark-theme .scroll-header {
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 4%, 0.3);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 6rem 0 1rem;
}

.section__title,
.section__title-center {
  font-size: var(--h1-font-size);
  font-weight: var(--font-thin);
  margin-bottom: var(--mb-2);
  line-height: 140%;
}

.section__title-center {
  text-align: center;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-0-75);
  margin-right: var(--mb-0-75);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden; /*For animation*/
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: 0.4s; /*For animation dark mode*/
}

/*=============== NAV ===============*/
.nav {
  height: calc(var(--header-height) + 0.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  height: var(--header-height);
  transition: 0.3s;
}

svg#Logo_1 {
  height: var(--header-height);
  width: auto; /* Adjust width automatically based on height */
}

polygon#W-path.cls-2,
polygon#E-path.cls-2 {
  fill: var(--title-color);
  perspective: 600px;
}

text#SOLUTIONS-THIN.cls-1 {
  fill: var(--title-color);
  /* fill: none; */
  /* fill: #0a2240; */
  isolation: isolate;
  font-family: var(--body-font);
  font-size: 189.693px;
  font-weight: var(--font-regular);
  isolation: isolate;
}

tspan.cls-3 {
  letter-spacing: 0.2em;
}

tspan.cls-4 {
  letter-spacing: 0.144em;
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--container-color);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, 0.1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: 0.3s;
    z-index: var(--z-fixed);
  }
}

.nav__close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-regular);
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, 0.1);
}

/* Active link */
.active-link {
  position: relative;
  color: var(--first-color);
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
}
/* All your variable and reusable styles should be placed before this. */

/* HOME STYLES */
.home {
  padding: 3.5rem 0 2rem;
}
/* Home Container */
.home__container {
  display: grid;
  grid-template-areas: "title social";
  grid-template-columns: 1fr auto;
  grid-gap: 0rem;
  align-items: center;
  max-width: calc(100vw - 50px);
  margin: 0 auto;
}

/* Home Title */
.home__title-container {
  grid-area: title;
  text-align: left;
  max-width: calc(100vw - 100px);
}

.home__title {
  font-size: var(--big-font-size);
  line-height: var(--big-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  letter-spacing: -2px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: var(--mb-2-5);
}

.home__description {
  margin: var(--mb-0-75) 0;
  font-size: var(--small-font-size);
  font-weight: var(--font-regular);
  text-align: center;
  text-transform: uppercase;
}

/* Description Container */
.description-container {
  grid-area: description;
  max-width: calc(100vw - 60px); /* Added max-width */
}

.about__title-container {
  text-align: center;
}

.about__title {
  font-size: 1.5rem;
  position: relative;
}

/* Home Social */
.home__social {
  grid-area: social;
  text-align: center;
  position: relative;
  right: -1rem;
  display: grid;
  row-gap: 3.5rem;
  align-content: flex-end;
  justify-content: end;
}

.home__social-follow {
  margin-bottom: 10px;
  font-size: var(--small-font-size);
  color: var(--first-color);
  position: relative;
  transform: rotate(90deg);
}

.home__social-follow::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: var(--first-color);
  right: -45%;
  top: 50%;
}

.home__social-links {
  display: inline-flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.home__social-link {
  font-size: 1rem;
  color: var(--first-color);
  transition: 0.3s;
}

.home__social-link:hover {
  transform: translateX(0.25rem);
}

/* Media queries for mobile responsiveness */
@media screen and (max-width: 767px) {
  .home__container {
    grid-template-areas:
      "title"
      "social";
    grid-template-columns: 1fr;
  }

  .home__title {
    font-size: 2rem;
    line-height: 2rem;
  }

  .about__title {
    font-size: 1.2rem;
  }
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: var(--font-regular);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  transition: 0.3s;
}

.button:hover .button__icon {
  transform: translateX(0.25rem);
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.button--link {
  color: var(--first-color);
  font-weight: var(--font-regular);
}

.button--link:hover .button__icon {
  transform: translateX(0.25rem);
}

/* Text Marquee */
.marquee-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 5rem;
  line-height: 4rem;
  background-color: var(--title-color);
  color: var(--body-color);
  font-family: var(--body-font);
  font-weight: var(--font-semibold);
  white-space: nowrap;
  letter-spacing: -3px;
  text-transform: uppercase;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.marquee-container {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  font-size: 50px; /* Control the size of text here */
}

.marquee-content {
  display: inline-block;
  padding-right: 50px;
}

.text {
  display: inline-block;
}

/* Company Logo Marquee */

.company-logo-marquee {
  transition: all 0.5s ease-in-out;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  /* height: 200px; */
  height: calc(var(--header-height) * 3);
}

.slides-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 1;
}

.slide {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* width: calc(100% / 3);
  width: 50vw; */
  width: 50%;
}

.logo {
  /* width: 100%; */
  margin: 0 16px;
  /* height: 100%; */
  height: calc(var(--header-height) * 1.25);
  object-fit: contain;
  filter: grayscale(1) contrast(0.95) opacity(0.85);
  transition: 0.2s ease-in-out;
}

.slide:hover .logo {
  filter: contrast(1.1);
}

.slides-inner {
  position: relative;
  height: 175px;
  width: 100%;
  overflow: hidden;
  background: var(--first-color);
}
/*=============== ABOUT ===============*/
.about__container {
  row-gap: 0;
}

#counter-clockwise {
  width: 225px;
  height: 225px;
  justify-self: center;
  overflow: hidden;
}

.paths #Doing {
  fill: var(--doing-third);
  transition: fill 0.5s ease-in-out;
}

.paths #Thinking {
  fill: var(--thinking-third);
  transition: fill 0.5s ease-in-out;
}

.paths #Feeling {
  fill: var(--feeling-third);
  transition: fill 0.5s ease-in-out;
}

.text-elements {
  fill: var(--text-color-light);
  font-family: var(--body-font);
  font-weight: var(--font-medium);
  font-size: var(--header-height);
}

#counter-clockwise:hover .paths #Doing {
  fill: #102a42;
}

#counter-clockwise:hover .paths #Thinking {
  fill: #617d98;
}

#counter-clockwise:hover .paths #Feeling {
  fill: #102a42;
}

.about__title {
  color: var(--text-color);
  font-weight: var(--font-regular);
  font-size: 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: -webkit-fill-available;
  text-align: center;
  margin: var(--mb-1-5) 0;
  font-size: var(--smaller-font-size);
}

span.motivations {
  color: var(--text-color);
  letter-spacing: -2px;
  font-family: var(--wide-font);
}

span.behavior {
  color: var(--text-color);
  letter-spacing: -2px;
  font-family: var(--wide-font);
}

/*  */

.random-word {
  display: inline-block;
  color: var(--first-color);
  /* letter-spacing: 1px; */
  margin: auto;
  width: 100%;
  text-align: left;
}

/* 
.random-word {
  line-height: 1;
  margin: auto;
  display: inline-block;
  color: var(--first-color);
  opacity: 0;
  animation: slidedown 4s infinite;
} */

@keyframes slidedown {
  0% {
    opacity: 0;
    transform: translateY(0.5em);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0.5em);
  }
}
/*  */

.about__description {
  padding-right: 2.5rem;
  /* font-family: var(--ibm-plex-mono); */
}

.about__details {
  display: grid;
  row-gap: 1rem;
  margin-bottom: var(--mb-2-5);
}

.about__details-description {
  display: inline-flex;
  column-gap: 0.5rem;
  font-size: var(--small-font-size);
}

.about__details-icon {
  font-size: 1rem;
  color: var(--first-color);
  margin-top: 0.15rem;
}

/*  */
.testimonials {
  margin-left: auto;
  margin-right: auto;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 1rem;
  display: block;
}

.name,
.company {
  text-align: center;
}

.name {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  font-weight: var(--font-semibold);
  letter-spacing: -1px;
}

.company {
  font-size: 1rem;
  margin-bottom: 0.8rem; /* Slight decrease in margin bottom */
  color: var(--first-color-alt);
}

.testimonial-logo {
  /* width: 200px; 
  height: auto; */
  margin: 0 auto; /* Center the logo */
  display: block;
  object-fit: contain;
  filter: grayscale(1) contrast(0.5);
  width: 100%;
  max-height: 75px;
  height: 100%;
}

.quote {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 1rem;
  margin: 1rem 0;
  font-style: oblique;
  font-weight: var(--font-semibold);
}

/*  */

/*=============== SWIPER ===============*/
.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper-slide {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  color: var(--title-color);
  justify-content: center;
  align-items: center;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

/* .swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 22px;
  color: #000;
} */

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

/* Pagination */

.swiper-pagination {
  position: relative;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 25px;
  height: 25px;
  display: inline-flex;
  border-radius: 100%;
  background: var(--title-color);
  color: var(--body-color);
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Processors and Stances Section Pagination */
.processors .swiper-pagination,
.stances .swiper-pagination {
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  margin-top: var(--mb-0-75);
  margin-bottom: var(--mb-0-75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

.processors .swiper-pagination .swiper-pagination-bullet,
.stances .swiper-pagination .swiper-pagination-bullet {
  width: 10px; /* Adjust the width of the pagination bullets */
  height: 10px; /* Adjust the height of the pagination bullets */
  background-color: var(
    --title-color
  ); /* Adjust the background color of the pagination bullets */
  opacity: 0.6; /* Adjust the opacity of the pagination bullets */
  border-radius: 50%;
  margin: 0 5px; /* Adjust the horizontal spacing between the pagination bullets */
  cursor: pointer;
  transition: all 0.3s ease;
}

.processors
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active,
.stances
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(
    --title-color
  ); /* Adjust the background color of the active pagination bullet */
  opacity: 1; /* Adjust the opacity of the active pagination bullet */
  transform: scale(1.3); /* Adjust the scale of the active pagination bullet */
}

/*=============== PROCESSORS ===============*/
.processors__bg {
  background-color: var(--first-color);
  padding: 1rem;
  border-radius: 1rem;
}

.processors__title {
  color: var(--container-color);
  font-weight: var(--font-bold);
  font-family: var(--wide-font);
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 1.25;
}

.processors__card:hover .processors__card-number {
  transform: translateY(-0.25rem);
}
/* BENEFITS  */

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 1200px; /* Example of max-width */
  margin: 0 auto; /* Center the container if it doesn't span full width */
  padding: 2rem; /* Padding around the container */
  gap: 1rem; /* Space between items */
}

.benefits__title {
  text-align: center;
  margin-bottom: 2rem;
}

.custom-charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.chart-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  min-width: 200px; /* Set min-width */
  width: 100%; /* Fill the container */
}

.chart-title {
  font-size: 1.2rem;
  margin: 2rem;
  color: var(--title-color);
  /* width: 100%; */
  text-align: center;
}

.chart {
  position: relative;
  background-color: var(--container-color);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease-in-out; /* Modified to apply to all properties and added easing function */
  width: 100%;
  padding: 1rem;
  margin-bottom: var(--mb-0-5);
  height: auto;
}

.chart:hover {
  transform: scale(1.03); /* Scale effect on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.percentage-container {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.25rem;
  color: #4caf50;
  font-weight: var(--font-bold);
  text-align: center;
}

.percent-sign {
  font-size: 1.1rem;
  vertical-align: super;
}

.improvement-label {
  /* margin-top: 10px; */
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  color: var(--first-color);
  font-weight: var(--font-semibold);
  text-transform: uppercase;
}

.label {
  font-weight: var(--font-bold);
  text-align: center;
  margin-bottom: 1.15rem;
  font-size: 0.95rem;
  color: var(--title-color);
}

/*=============== stances ===============*/
.stances__bg {
  background-color: var(--first-color);
  padding: 1rem;
  border-radius: 1rem;
}

.stances__container {
  gap: 2rem;
  padding-top: 1rem;
}

.stances__title {
  color: var(--container-color);
  font-weight: var(--font-bold);
  font-family: var(--wide-font);
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 1.25;
}

.stances__card {
  background-color: var(--container-color);
  padding: 2.5rem 3rem 2rem 1.5rem;
  border-radius: 1rem;
}

.stances__img {
  height: calc(var(--header-height) * 1.25);
  width: calc(var(--header-height) * 1.25);
}

.stances__card-number {
  display: inline-block;
  background-color: var(--first-color-lighten);
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 100%;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
  transition: 0.3s;
}

.dark-theme .stances__card-number {
  background-color: var(--first-color-dark);
}

.stances__card-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-thin);
  margin-bottom: var(--mb-0-5);
}

.stances__card-description {
  /* font-family: var(--ibm-plex-mono); */
  margin-bottom: var(--mb-2-5);
  font-size: var(--h2-font-size);
  padding-right: 5rem;
}

.stances__card:hover .stances__card-number {
  transform: translateY(-0.25rem);
}

/*=============== meet-joey-schewee ===============*/

.meet-joey-schewee__container {
  row-gap: 2rem;
}

.joey-img-title {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.meet-joey-schewee__img {
  width: 250px;
  justify-self: center;
  border-radius: 1rem;
}

.meet-joey-schewee__title {
  margin-bottom: var(--mb-1);
  font-weight: var(--font-bold);
}

.meet-joey-schewee__description {
  margin-bottom: var(--mb-2);
}

.meet-joey-schewee__details {
  display: grid;
  row-gap: 1rem;
  justify-content: space-evenly;
}

.meet-joey-schewee__details-description {
  display: inline-flex;
  column-gap: 0.25rem;
  margin: auto;
  /* font-family: var(--ibm-plex-mono); */
  padding-right: 1rem;
}

.meet-joey-schewee__details-icon {
  font-size: 1rem;
  color: var(--first-color);
  margin-top: 0.15rem;
}

/*  */

/*  */

/*=============== PRODUCTS ===============*/
section#products .swiper-slide {
  margin: var(--mb-1-5) 0;
}
.product__description {
  text-align: center;
}

.product__card {
  display: grid;
  position: relative;
  width: auto; /* make the card occupy the whole slide */
}

.product__img {
  position: relative;
  width: 200px;
  height: 200px;
  justify-self: center;
  margin-bottom: var(--mb-0-75);
  transition: 0.3s;
}

.product__title,
.product__price {
  color: var(--title-color);
  text-align: center;
}

.product__price {
  margin-bottom: var(--mb-0-75);
}

.product__circle {
  display: none;
  width: 100%;
  height: 90px;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  position: absolute;
  top: 18%;
  left: 0%;
}

.product__card:hover .product__img {
  transform: translateY(-0.5rem);
}

/*=============== QUESTIONS ===============*/
.questions {
  background-color: var(--first-color-lighten);
}

.questions__container {
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.questions__group {
  display: grid;
  row-gap: 1.5rem;
}

.questions__item {
  background-color: var(--container-color);
  border-radius: 0.25rem;
}

.questions__item-title {
  font-size: var(--small-font-size);
  font-weight: var(--font-regular);
}

.questions__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.questions__description {
  font-size: var(--smaller-font-size);
  padding: 0 1.25rem 1.25rem 2.5rem;
}

.questions__header {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.75rem 0.5rem;
  cursor: pointer;
}

.questions__content {
  overflow: hidden;
  height: 0;
}

.questions__item,
.questions__header,
.questions__item-title,
.questions__icon,
.questions__description,
.questions__content {
  transition: 0.3s;
}

.questions__item:hover {
  box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, 0.15);
}

/*Rotate icon, change color of titles and background*/
.accordion-open .questions__header,
.accordion-open .questions__content {
  background-color: var(--first-color);
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon {
  color: #fff;
}

.accordion-open .questions__icon {
  transform: rotate(45deg);
}

/*=============== CONTACT ===============*/
.contact__container {
  row-gap: 3.5rem;
}

.contact__data {
  display: grid;
  row-gap: 2rem;
}

.contact__subtitle {
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  color: var(--text-color);
  margin-bottom: var(--mb-0-5);
}

.contact__description {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--title-color);
  font-weight: var(--font-regular);
}

.contact__icon {
  font-size: 1.25rem;
}

.contact__inputs {
  display: grid;
  row-gap: 2rem;
  margin-bottom: var(--mb-2-5);
}

.contact__content {
  position: relative;
  height: 3rem;
  border-bottom: 1px solid var(--text-color-light);
}

.contact__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
  background: none;

  color: var(--text-color);

  border: none;
  outline: none;
  z-index: 1;
}

.contact__label {
  position: absolute;
  top: 0.75rem;
  width: 100%;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  transition: 0.3s;
}

.contact__content:focus-within .contact__label {
  top: -0.75rem;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

.contact__area {
  height: 7rem;
}

.contact__area textarea {
  resize: none;
}

/*Input focus move up label*/
.contact__input:focus + .contact__label {
  top: -0.75rem;
  left: 0;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

/*Input focus sticky top label*/
.contact__input:not(:placeholder-shown).contact__input:not(:focus)
  + .contact__label {
  top: -0.75rem;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

/*=============== FOOTER ===============*/
.footer__container {
  row-gap: 3rem;
  justify-items: center;
}

.footer__logo {
  text-transform: uppercase;
  font-size: var(--h1-font-size);
  line-height: 100%;
  font-weight: var(--font-light);
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  color: var(--title-color);
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.footer__logo-icon {
  width: calc(var(--header-height) * 2);
  margin: 0 20px;
  object-fit: contain;
  overflow: hidden;
}

.footer__logo:hover {
  color: var(--first-color);
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer__subscribe {
  background-color: var(--first-color-lighten);
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.footer__input {
  width: 70%;
  padding: 0 0.5rem;
  background: none;
  color: var(--text-color);
  border: none;
  outline: none;
}

.footer__button {
  padding: 1rem;
}

.footer__data {
  display: grid;
  row-gap: 0.75rem;
}

.footer__information {
  font-size: var(--small-font-size);
}

.footer__social {
  display: inline-flex;
  column-gap: 0.75rem;
}

.footer__social-link {
  font-size: 2rem;
  color: var(--text-color);
  transition: 0.3s;
}

.footer__social-link:hover {
  transform: translateY(-0.25rem);
}

.footer__cards {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}
.footer__card {
  width: 35px;
}

.footer__copy {
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin: 5rem 0 1rem;
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  background-color: var(--first-color);
  right: 1rem;
  bottom: -30%;
  display: inline-flex;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: var(--z-tooltip);
  opacity: 0.8;
  transition: 0.4s;
}

.scrollup__icon {
  font-size: 1rem;
  color: #fff;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
  opacity: 1;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  display: none;
  width: 0.6rem;
  background: hsl(var(--hue), 4%, 53%);
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--hue), 4%, 29%);
  border-radius: 0.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__img {
    width: 180px;
  }
  .home__title {
    font-size: var(--h1-font-size);
  }

  .processors__bg {
    padding: 2rem 0.1rem;
  }
  .processors__card {
    padding: 1.5rem;
  }

  .stances__bg {
    padding: 2rem 0.1rem;
  }
  .stances__card {
    padding: 1.5rem;
  }

  .product__container {
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .processors__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .stances__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .product__description {
    padding: 0 4rem;
  }
  .product__container {
    grid-template-columns: repeat(2, 170px);
    justify-content: center;
    column-gap: 5rem;
  }

  .footer__subscribe {
    width: 400px;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__menu {
    margin-left: auto;
  }

  .questions__container,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .meet-joey-schewee__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    /* grid-template-columns: repeat(1, 1fr); */
  }

  .home {
    padding: 10rem 0 5rem;
  }
  .home__container {
    align-items: center;
  }
  .home__img {
    width: 280px;
    order: 1;
  }
  .home__social {
    top: 20%;
  }

  .questions__container {
    align-items: flex-start;
  }

  .footer__container {
    column-gap: 3rem;
  }
  .footer__subscribe {
    width: initial;
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 8rem 0 1rem;
  }
  .section__title,
  .section__title-center {
    font-size: var(--h1-font-size);
  }

  /* .about__title {
    font-size: var(--big-font-size);
  } */

  /* .benefits__title {
    font-size: var(--big-font-size);
  } */

  .home {
    padding: 13rem 0 5rem;
  }
  .home__img {
    width: 350px;
  }

  .about__img {
    width: 200px;
    height: 200px;
  }

  .benefits__img {
    width: 200px;
    height: 200px;
  }

  .meet-joey-schewee__img {
    width: 300px;
  }

  .processors__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .processors__bg {
    padding: 3.5rem 9.5rem;
  }
  .processors__card-title {
    font-size: var(--big-font-size);
  }

  .stances__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .stances__bg {
    padding: 3.5rem 9.5rem;
  }
  .stances__card-title {
    font-size: var(--big-font-size);
  }

  .product__description {
    padding: 0 16rem;
  }
  .product__container {
    padding: 4rem 0;
    grid-template-columns: repeat(3, 185px);
    gap: 4rem 6rem;
  }
  /* .product__img {
    width: 160px;
  } */
  .product__circle {
    width: 110px;
    height: 110px;
  }

  .questions__container {
    padding: 1rem 0 4rem;
  }
  .questions__title {
    text-align: initial;
  }
  .questions__group {
    row-gap: 2rem;
  }
  .questions__header {
    padding: 1rem;
  }
  .questions__description {
    padding: 0 3.5rem 2.25rem 2.75rem;
  }

  .footer__logo {
    font-size: var(--big-font-size);
  }
  .footer__container {
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
  }
  .footer__copy {
    margin: 7rem 0 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .home__social {
    right: -1.5rem;
    row-gap: 4.5rem;
  }
  .home__social-follow {
    font-size: var(--small-font-size);
  }
  .home__social-follow::after {
    width: 1.5rem;
    right: -60%;
  }
  .home__social-link {
    font-size: 1.15rem;
  }

  .about__container {
    column-gap: 7rem;
  }

  .benefits__container {
    column-gap: 7rem;
  }

  .meet-joey-schewee__container {
    column-gap: 7rem;
  }

  .scrollup {
    right: 3rem;
  }
}

/* CARD ANIMATIONS */

/*=============== CARD ===============*/
.card {
  display: grid;
  place-items: center;
  background: var(--body-gradient);
  padding-block: 4.5rem;
}
.card__container {
  margin-inline: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}
.card__article {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--body-gradient);
  padding: 1.15rem;
  border-radius: 1rem;
  text-align: center;
  overflow: hidden;
  /* box-shadow: 0 20px 24px hsla(235, 32%, 15%, 0.2); */
}
.card__img {
  width: 200px;
  margin-bottom: 1rem;
  animation: float-img 2.5s ease-in-out infinite;
}
.card__title {
  color: var(--title-color);
  font-size: var(--h1-font-size);
  line-height: 100%;
  margin-bottom: 1rem;
  letter-spacing: -1px;
}

.card__title span.processors-subtitle {
  font-size: var(--h1-font-size);
}
.card__description {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin: var(--mb-0-75) var(--mb-1-5);
  text-transform: uppercase;
}
.card__data {
  position: relative;
  z-index: 10;
}
.card__shapes {
  display: grid;
  justify-items: center;
  row-gap: 2.5rem;
  position: absolute;
  inset: 0;
  top: -3.5rem;
  z-index: 1;
  opacity: 50%;
}
.card__shape {
  display: block;
  width: 260px;
  height: 40px;
  background: var(--shape-gradient);
  border-radius: 4rem;
  transform: rotate(-24deg);
  opacity: 0;
}
.card__shape:nth-child(1) {
  animation-delay: 0.1s;
}
.card__shape:nth-child(2) {
  animation-delay: 0.2s;
}
.card__shape:nth-child(3) {
  animation-delay: 0.3s;
}
.card__shape:nth-child(4) {
  animation-delay: 0.4s;
}
.card__shape:nth-child(5) {
  animation-delay: 0.5s;
}
.card__shape:nth-child(6) {
  animation-delay: 0.6s;
}
.card__shape:nth-child(7) {
  animation-delay: 0.7s;
}
.card__shape:nth-child(8) {
  animation-delay: 0.8s;
}

/* Animation img */
@keyframes float-img {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.75rem);
  }
  100% {
    transform: translateY(0);
  }
}
/* Animation shape */
.card__article:hover .card__shape {
  animation-name: shape-animate;
  animation-duration: 0.8s;
  animation-iteration-count: 2; /* infinite */
}

@keyframes shape-animate {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.7;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .card__container {
    margin-inline: 1rem;
  }
  .card__article {
    padding: 1rem 0.15rem;
  }
  .card__img {
    width: 160px;
  }
  .card__title {
    font-size: 2rem;
  }
}
/* For medium devices */
@media screen and (min-width: 440px) {
  .card__container {
    grid-template-columns: 328px;
  }
}
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 328px);
    column-gap: 2rem;
  }
}
/* For large devices */
@media screen and (min-width: 1024px) {
  .card {
    height: 100vh;
  }
  .card__container {
    grid-template-columns: repeat(3, 328px);
    column-gap: 2rem;
  }
}
